[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=online_display
Exec=/usr/bin/single-instance /opt/online_display/bin/online_display
Icon=/usr/share/icons/hicolor/80x80/apps/online_display80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
